@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;600;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-family: 'poppins',sans-serif;
}
html{
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link{
  @apply cursor-pointer text-inherit no-underline
}

/* Footer */
.social-icon {
  @apply hover:text-title-gray hover:text-3xl transition-all duration-200 cursor-pointer
}

/* Form inputs */

.input-text{
  @apply outline-none border-none p-1 w-full text-gray-mid text-center text-sm  focus:ring-1 focus:ring-gray-mid focus:border-[2px] focus:border-gray-mid placeholder:text-[12px]
}

.details{
  @apply outline-none border-none p-1 w-full rounded-t-3xl text-center text-sm  focus:ring-1 focus:ring-gray-mid focus:border-[2px] focus:border-gray-mid
}

/* login */

.login{
  background-image:url('/imgs/login-back.png') ;

}